:root {
  --nav_and_h-color: #212121;
  --maintext-color: #757575;
  --photo_and_h1-color: #ffffff;
  --hover_and_logo-color: #2196f3;
  --secondlogo-color: #000000;
  --first_and_last_background-color: #2f303a;
  --navcontainer-color: #ececec;
  --third_background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.71;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.17;
}

h1 {
  line-height: 1.36;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.63;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.71;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.14;
}
