body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.71;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.63;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 2;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.88;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.14;
}
