:root{
    --nav_and_h-color: #212121;
    --maintext-color: #757575;
    --photo_and_h1-color: #FFFFFF;
    --hover_and_logo-color: #2196F3;
    --secondlogo-color: #000000;
    --first_and_last_background-color: #2F303A;
    --navcontainer-color: #ECECEC;
    --third_background-color: #F5F4FA;
}